.contact-about-header img {
    height: 65vh;
    width: 100%;
    object-fit: cover;
}

.contact-about-header h1 {
    position: absolute;
    top: 0;
    z-index: 2;
    padding: 35vh 9% 0 9%;
    color: var(--white);
    font-size: 12rem;
    font-weight: 100;
}

.career-ad-specific h1 {
    font-size: 12rem;
    padding: 35vh 3% 0 3%;
}

.contact-about-header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 1;
    height: 65vh;
}

.contact-body, .about-body {
    display: flex;
    justify-content: space-between;
    padding: 4rem 9%;
}

.description-section {
    padding: 4rem 9%;
}

.contact-text h2, .about-text h2, .team-container h2, .careers-container h2 {
    font-size: 6rem;
    font-weight: 100;
    padding-bottom: 3rem;
    text-transform: uppercase;
    color: var(--grey-blue);
}

.about-text, .about-text p, .description-section {
    font-size: 2.25rem;
    text-align: justify;
}

.about-body, .contact-body {
    display: inline-block;
    overflow: auto;
    width: 100%;
}

.about-image {
    float: left !important; 
    width: 30%; 
    height: 100%;
    padding: 1rem 4rem 1rem 0;
    border-radius: 0.25rem;
}

.contact-map {
    float: left !important; 
    width: 65%; 
    height: 45vh;
    margin: 1rem 3rem 1rem 0;
}

.about-text, .contact-text {
    display: inline;
    width: auto; 
    font-size: 2.25rem;
    float: none;
}

.contact-text p {
    padding-top: 0.45rem;
}

.contact-text h4 {
    color: var(--grey-blue);
}

.team-container, .careers-container {
    padding: 4rem 9%;
}

.careers-container {
    padding-bottom: 1rem;
}

.team {
    display: flex;
    padding: 2rem 0;
}

.team {
    padding-top: 0rem !important;
}

.team-member {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 0rem 2rem;
}

.team-member .team-member-image {
    width: 100%;
    border-radius: 0.25rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0,0,0,0.25);
}

.team-headings {
    padding: 2rem 0;
}

.team-member h3, .careers-container h3, .description-section h3 {
    font-size: 3rem;
    padding-bottom: 0.5rem;
}

.team-member h4 {
    font-size: 2.5rem;
}

.team-member p, .careers-container p {
    font-size: 2.25rem;
    text-align: justify;
}

.careers-container h3 {
    padding-bottom: 1.5rem;
}

.who, .what {
    padding-bottom: 4rem;
}

.why {
    padding-bottom: 8rem;
}

.description-section h3 {
    padding-bottom: 2rem;
}

.description-mini-section {
    padding: 3rem 0;
}

.qualification-section {
    padding-top: 4rem !important;
}

.description-mini-section ul {
    list-style-position: inside;
    list-style-type: circle;
}

@media (max-width: 1385px) {
    .career-ad-specific h1 {
        font-size: 12rem;
        padding: 30vh 3% 0 3%;
    }
}

@media (max-width: 1130px) {
    .contact-about-header h1 {
        padding: 35vh 3% 0 3%;
    }

    .contact-body, .about-body {
        padding: 4rem 3%;
    }

    .team-container, .careers-container, .description-section {
        padding: 4rem 3%;
    }
}

@media (max-width: 950px) {
    .about-image {
        padding: 1rem 3rem 1rem 0;
    }
}

@media (max-width: 900px) {
    .contact-text h2, .about-text h2, .team-container h2, .careers-container h2 {
        font-size: 5rem;
    }

    .about-image {
        display: none;
    }
}

@media (max-width: 805px) {
    .career-ad-specific h1 {
        font-size: 10rem;
    }
}

@media (max-width: 768px) {
    .contact-text h2, .about-text h2, .team-container h2, .careers-container h2 {
        font-size: 4rem;
    }
}

@media (max-width: 690px) {
    .contact-about-header h1 {
        font-size: 10rem;
    }

    .about-image {
        padding: 1rem 2rem 1rem 0;
    }

    .team, .what-who {
        flex-direction: column;
    }

    .team-member {
        padding: 2rem 0;
    }

    .who, .what {
        padding-bottom: 3rem;
    }
    
    .why {
        padding-bottom: 6rem;
    }
}

@media (max-width: 670px) {
    .career-ad-specific h1 {
        font-size: 8rem;
    }
}

@media (max-width: 600px) {
    .contact-body {
        display: flex;
        flex-direction: column-reverse;
    }

    .contact-map {
        width: 100%; 
        height: 35vh;
        margin: 2rem 0 1rem;
    }

    .contact-about-header h1 {
        font-size: 9rem;
        padding: 45vh 3% 0 3%;
    }

    .career-ad-specific h1 {
        font-size: 8rem;
        padding: 35vh 3% 0 3%;
    }
}

@media (max-width: 535px) {
    .career-ad-specific h1 {
        font-size: 6rem;
        padding: 40vh 3% 0 3%;
    }
}

@media (max-width: 500px) {
    .contact-about-header h1 {
        font-size: 8rem;
    }

    .career-ad-specific h1 {
        font-size: 6rem;
        padding: 40vh 3% 0 3%;
    }

    .description-mini-section {
        padding: 2rem 0;
    }
}

@media (max-width: 450px) {
    .contact-about-header h1 {
        font-size: 7rem;
    }

    .career-ad-specific h1 {
        font-size: 5rem;
        padding: 45vh 3% 0 3%;
    }
}