.contact-about-header img {
    height: 65vh;
    width: 100%;
    object-fit: cover;
}

.contact-about-header h1 {
    position: absolute;
    top: 0;
    z-index: 2;
    padding: 35vh 9% 0 9%;
    color: var(--white);
    font-size: 12rem;
    font-weight: 100;
}

.contact-about-header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 1;
    height: 65vh;
}

.contact-body, .about-body {
    display: flex;
    justify-content: space-between;
    padding: 4rem 9%;
}

.contact-text {
    width: 47.5%;
}

.contact-text h2, .about-text h2, .services-container h2, .team-container h2 {
    font-size: 4rem;
    padding-bottom: 3rem;
    text-transform: uppercase;
    color: var(--grey-blue);
}

.contact-text p, .about-text p {
    font-size: 2.25rem;
    text-align: justify;
}

.contact-map {
    position: relative;
    right: 0;
    height: 60vh;
    width: 47.5%; 
    border-radius: 0.25rem;
    padding: 1rem 0;
}

.about-body img {
    height: 70vh;
}

.about-text {
    width: 56%;
}

.services-container, .team-container {
    padding: 4rem 9%;
}

.services, .team {
    display: flex;
    padding: 2rem 0;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    height: 40vh;
}

.service h3 {
    font-size: 3rem;
}

.service p {
    font-size: 2.25rem;
    text-align: center;
}

.team-member {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
}

.team-member img {
    width: 100%;
    padding-bottom: 2rem;
}

.team-headings {
    padding-bottom: 2rem;
}

.team-member h3 {
    font-size: 3rem;
    padding-bottom: 0.5rem;
}

.team-member h4 {
    font-size: 2.5rem;
}

.team-member p {
    font-size: 2.25rem;
    text-align: justify;
}