.contact-about-header img {
    height: 65vh;
    width: 100%;
    object-fit: cover;
}

.contact-about-header h1 {
    position: absolute;
    top: 0;
    z-index: 2;
    padding: 35vh 9% 0 9%;
    color: var(--white);
    font-size: 12rem;
    font-weight: 100;
}

.contact-about-header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 1;
    height: 65vh;
}

.contact-body, .about-body {
    display: flex;
    justify-content: space-between;
    padding: 4rem 9%;
}

/* .contact-text {
    width: 47.5%;
} */

.contact-text h2, .about-text h2, .team-container h2, .careers-container h2 {
    font-size: 4rem;
    padding-bottom: 3rem;
    text-transform: uppercase;
    color: var(--grey-blue);
}

.contact-text p, .about-text p {
    font-size: 2.25rem;
    text-align: justify;
}

/* .contact-map {
    position: relative;
    right: 0;
    height: 60vh;
    width: 47.5%; 
    border-radius: 0.25rem;
    padding: 1rem 0;
} */

.about-body, .contact-body {
    display: inline-block;
    overflow: auto;
    width: 100%;
}

.about-image {
    float: left !important; 
    width: 45%; 
    height: 100%;
    padding: 1rem 4rem 1rem 0;
}

.contact-map {
    float: right !important; 
    width: 47.5%; 
    height: 60vh;
    margin: 1rem 0 1rem 3rem;
}

.about-text, .contact-text {
    display: inline;
    width: auto; 
    font-size: 2.25rem;
    text-align: justify;
    float: none;
}

.team-container, .careers-container {
    padding: 4rem 9%;
}

.team, .what-who {
    display: flex;
    padding: 2rem 0;
}

.team-member {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
}

.team-member img {
    width: 100%;
}

.team-headings {
    padding: 2rem 0;
}

.team-member h3, .why h3, .what-who h3 {
    font-size: 3rem;
    padding-bottom: 0.5rem;
}

.team-member h4 {
    font-size: 2.5rem;
}

.team-member p, .careers-container p {
    font-size: 2.25rem;
    text-align: justify;
}

.careers-container h3 {
    padding-bottom: 1.5rem;
}

.why {
    padding-bottom: 1rem;
}

.who {
    padding-right: 1.5rem;
}

.what {
    padding-left: 1.5rem;
}

@media (max-width: 1130px) {
    .contact-about-header h1 {
        padding: 35vh 3% 0 3%;
    }

    .contact-body, .about-body {
        padding: 4rem 3%;
    }

    .team-container, .careers-container {
        padding: 4rem 3%;
    }
}

@media (max-width: 950px) {
    .about-image {
        padding: 1rem 3rem 1rem 0;
    }
}

@media (max-width: 690px) {
    .contact-about-header h1 {
        font-size: 10rem;
    }

    .about-image {
        padding: 1rem 2rem 1rem 0;
    }

    .team, .what-who {
        flex-direction: column;
    }

    .what-who {
        padding: 0;
    }

    .why {
        padding-bottom: 0;
    }

    .why, .who, .what {
        padding: 1.5rem 0;
    }
}

@media (max-width: 600px) {
    .contact-body {
        display: flex;
        flex-direction: column-reverse;
    }

    .contact-map {
        width: 100%; 
        height: 35vh;
        margin: 2rem 0 1rem;
    }
}

@media (max-width: 500px) {
    .contact-about-header h1 {
        font-size: 10rem;
    }
}

@media (max-width: 450px) {
    .contact-about-header h1 {
        font-size: 8rem;
    }
}