.section.home {
    position: relative;
    overflow: hidden;
}

.header-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.overlay-home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 100vh;
}

@keyframes zoomInFadeOut {
    0%, 12.5% { transform: translate(-50%, -50%) scale(0.5); opacity: 0; }
    27.5% { transform: translate(-50%, -50%) scale(1); opacity: 1; }
    100% { transform: translate(-50%, -50%) scale(1); opacity: 0; }
}

.video-text {
    position: absolute;
    z-index: 10;
    top: 9.5%;
    left: 49.5%;
    transform: translate(-50%, -50%) scale(0.5);
    color: white;
    font-size: 7rem;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    animation: zoomInFadeOut 17.5s ease-in-out forwards;
}

.text-home {
    height: 30vh;
    width: 70vw;
    padding: 1.2rem 9%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-home p {
    font-size: 3.75rem;
    width: 100%;
    margin: 0;
}

.slider-container {
    height: 95vh;
    position: relative;
    z-index: 2;
}

.home-property-slide {
    display: flex;
    width: 100vw;
    padding: 1.2rem 0 4rem 9%;
}

.home-property-slide, .home-property-slide a {
    cursor: url('public/assets/icons8-arrow-50.png'), auto;
}

.text-example {
    width: 30vw;
    font-size: 3rem;
    padding-right: 3rem;
    display: flex;
    align-items: flex-start;
}

.swiper-scrollbar-drag {
    background: var(--beige, rgba(0, 0, 0, 0.5)) !important;
}

.mySwiper {
    width: 100%;
    height: 70vh;
}

.mySwiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-page-image-container {
    position: relative;
    width: 21.5vw;
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transform: translateX(50%);
    transition: transform 1s ease-out, opacity 1s ease-out;
}

.home-page-image-container.visible {
    transform: translateX(0%);
    opacity: 1;
}

.address-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 0%, 
        transparent 100%
    );
    display: flex;
    align-items: end !important;
    justify-content: center !important;
    color: white;
    padding: 1rem;
    padding-bottom: 3rem;
    box-sizing: border-box;
    visibility: visible;
    transition: all 0.5s ease;
}

.address-overlay .address {
    text-align: center;
}

.address-overlay h4 {
    color: var(--white);
    font-size: 2.25rem;
}

.image-overlay {
    position: absolute;
    bottom: -80%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0) 0%, 
        rgba(0, 0, 0, 0.6) 50%, 
        rgba(0, 0, 0, 0.8) 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color: white;
    padding: 2rem;
    padding-bottom: 12rem;
    transition: transform 0.6s ease;
    transform: translateY(100%);
}

.home-page-image-container:hover .image-overlay {
    transform: translateY(0);
}

.home-page-image-container:hover .address-overlay {
    opacity: 0;
}

.image-overlay .address h4, .image-overlay .des h5 {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    color: var(--white);
    font-size: 2.25rem;
    padding-bottom: 3rem;
    text-align: center;
}

.mySwiper .swiper-slide:hover .image-overlay {
    bottom: 0;
}

.mySwiper .swiper-slide:hover .image-overlay {
    display: flex;
}

.image-title, .image-description {
    margin: 10px 0;
}

.swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
    height: var(--swiper-scrollbar-size, 8px) !important;
}

.divider-section {
    height: 100% !important;
    padding: 0 9%;
    margin: 4rem 0 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-promise-section {
    align-items: flex-start;
}

.divider-section h2, .divider-section span {
    font-size: 6rem;
    font-weight: 100;
    color: var(--grey-blue);
}

.divider-section h2 span {
    text-transform: uppercase;
    font-weight: 100;
}

.home-promise {
    height: 100% !important;
}

.home-promise img, .home-promise h3 {
    margin-bottom: 1rem;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.preloader img {
    width: 100%;
    height: auto;
    background-color: transparent;
    animation: zoomIn 2.75s forwards;
    animation-delay: 1s;
}

@keyframes zoomIn {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(70);
    }
}

.parallax-section {
    position: relative;
    height: 40vh;
    background-image: url('../../public/assets/home-page-gold-coast.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.section.home .contact-form {
    background-color: var(--blue);
    padding-top: 4rem;
}

.section.home .contact-form input, .section.home .message-section textarea {
    border-bottom: 1px solid var(--grey-beige);
    color: white !important;
}

.section.home .newsletter-signup {
    color: var(--grey-beige);
}

.section.home .contact-form h2 {
    color: white;
}

.section.home .contact-form .address-section {
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
}

.section.home .contact-form .address-section input {
    width: 95%;
}

.section.home .contact-form input, .section.home .contact-form textarea {
    background-color: transparent;
}

.section.home .contact-form .message-section {
    padding: 3rem 0;
}

.section.home .newsletter-signup label {
    color: white;
}

.section.home .wrapper button {
    background-color: var(--grey-beige);
    color: var(--blue);
}

.section.home .wrapper button:hover {
    background-color: var(--white);
}

@media (max-width: 1366px) {
    .parallax-section {
        display: none;
    }

    .parallax-mobile-section {
        position: relative;
        height: 40vh;
        background-image: url('../../public/assets/home-page-gold-coast.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
}

@media (max-width: 1130px) {
    .video-text {
        font-size: 6rem;
    }

    .text-home {
        padding: 1.2rem 3%;
    }

    .home-property-slide {
        padding: 1.2rem 0 4rem 3%;
    }

    .text-home p {
        font-size: 3.5rem;
        width: 100%;
    }
    
    .mySwiper {
        width: 85vw !important;
    }

    .mySwiper img {
        width: 25vw !important;
        padding-right: 2rem !important;
    }

    .divider-section {
        padding: 0 3%;
    }

    .service img {
        height: 10rem;
    }
}

@media (max-width: 900px) {
    .video-text {
        font-size: 5rem;
    }

    .text-home {
        width: 75vw;
    }

    .text-home p {
        font-size: 3.25rem;
    }

    .divider-section h2, .divider-section span {
        font-size: 5rem;
    }

    .service img {
        height: 9rem;
    }
}

@media (max-width: 850px) {
    .preloader {
        display: none;
    }
}

@media (max-width: 768px) {
    .video-text {
        font-size: 4.25rem;
    }

    .divider-section h2, .divider-section span {
        font-size: 4rem;
    }

    .service img {
        height: 8rem;
    }
}

@media (max-width: 750px) {
    .text-example {
        width: 25vw !important;
    }
    
    .mySwiper {
        width: 80vw !important;
    }
    
    .home-page-image-container {
        width: 34vw !important;
    }

    .divider-section {
        height: 100%;
    }

    .services {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .service img {
        height: 10rem;
    }

    .divider-section h2, .divider-section span {
        font-size: 4.5rem;
        text-align: center;
    }
}

@media (max-width: 650px) {
    .video-text {
        font-size: 4rem;
    }

    .text-home {
        width: 80vw;
    }

    .text-home p {
        font-size: 3rem;
    }
    
    .mySwiper {
        width: 80vw !important;
    }

    .mySwiper img {
        width: 40vw !important;
    }
}

@media (max-width: 600px) {
    .video-text {
        font-size: 3rem;
        top: 8.5%;
    }
}

@media (max-width: 580px) {
    .divider-section {
        height: 122.5vh;
        justify-content: space-evenly;
    }

    .services {
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@media (max-width: 530px) {
    .home-property-slide {
        padding: 1.2rem 0 4rem 0% !important;
        flex-direction: column;
    }

    .text-home {
        width: 100vw !important;
    }

    .text-example {
        padding: 1.2rem 0 4rem 3% !important;
        width: 100% !important;
    }
    
    .mySwiper {
        width: 100vw !important;
    }

    .home-page-image-container {
        width: 45vw !important;
    }

    .section.home .contact-form h2 {
        text-align: center;
    }
}

@media (max-width: 510px) {
    .divider-section {
        height: 100%;
    }
}

@media (max-width: 500px) {
    .text-home p {
        font-size: 3.25rem;
    }
}

@media (max-width: 450px) {
    .video-text {
        font-size: 2.5rem;
    }

    .text-home p {
        font-size: 2.75rem;
    }
}

@media (max-width: 400px) {
    .home-property-slide {
        padding: 1.2rem 0 4rem 0 !important;
    }

    .home-page-image-container {
        width: 90.5vw !important;
    }

    .service img {
        height: 8rem;
    }
}