.section.home {
    position: relative;
    overflow: hidden;
}

.header-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.overlay-home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.5); */
    z-index: 1;
    height: 100vh;
}

@keyframes zoomInFadeOut {
    0%, 20% { transform: translate(-50%, -50%) scale(0.5); opacity: 0; }
    40% { transform: translate(-50%, -50%) scale(1); opacity: 1; }
    100% { transform: translate(-50%, -50%) scale(1); opacity: 0; }
}

.video-text {
    position: absolute;
    z-index: 10;
    top: 12.5%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    color: white;
    font-size: 7rem;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    animation: zoomInFadeOut 15s ease-in-out forwards;
}

.text-home {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(214, 208, 201, 0.3);
    margin-bottom: -3rem;
}

.text-home p {
    font-size: 6rem;
    width: 100%;
    padding: 1.2rem 9%;
    margin: 0;
}

.text-home span {
    text-transform: uppercase;
}

.slider-container {
    height: 95vh;
    position: relative;
    z-index: 2;
}

.divider-section {
    /* background-color: rgba(214, 208, 201, 0.3); */
    height: 67.5vh;
    padding: 4rem 9% 2rem 9%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divider-section h2, .divider-section span {
    font-size: 6rem;
    font-weight: 100;
    color: var(--grey-blue);
}

.divider-section h2 span {
    /* font-family: VersaillesBold; */
    text-transform: uppercase;
    font-weight: 100;
}

.home-promise {
    height: 47.5vh !important;
}

.home-promise img, .home-promise h3 {
    padding-bottom: 1rem;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.preloader img {
    width: 100%;
    height: auto;
    background-color: transparent;
    animation: zoomIn 2.75s forwards;
    animation-delay: 1s;
}

@keyframes zoomIn {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(70);
    }
}  

.section.home .contact-form {
    background-color: rgba(214, 208, 201, 0.3);
    padding-top: 4rem;
}

.section.home .contact-form .address-section {
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
}

.section.home .contact-form .address-section input {
    width: 95%;
}

.section.home .contact-form input, .section.home .contact-form textarea {
    background-color: transparent;
}

@media (max-width: 1130px) {
    .video-text {
        font-size: 6rem;
    }

    .text-home p {
        font-size: 5rem;
        width: 100%;
        padding: 0 5%;
    }

    .divider-section {
        padding: 2rem 3%;
    }

    .service img {
        height: 10rem;
    }
}

@media (max-width: 900px) {
    .video-text {
        font-size: 5rem;
    }

    .divider-section {
        height: 65vh;
    }

    .divider-section h2, .divider-section span {
        font-size: 5rem;
    }

    .service img {
        height: 9rem;
    }
}

@media (max-width: 850px) {
    .preloader {
        display: none;
    }

    .divider-section {
        height: 75vh;
    }

    .home-promise {
        height: 50vh !important;
    }
}

@media (max-width: 768px) {
    .video-text {
        font-size: 4.25rem;
    }

    .divider-section h2, .divider-section span {
        font-size: 4rem;
    }

    .service {
        height: 42.5vh !important;
    }

    .service img {
        height: 8rem;
    }

    .home-promise {
        height: 52.5vh !important;
    }
}

@media (max-width: 750px) {
    .divider-section {
        height: 100%;
    }

    .services {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .service {
        height: 32.5vh !important;
    }

    .service img {
        height: 10rem;
    }

    .divider-section h2, .divider-section span {
        font-size: 4.5rem;
        text-align: center;
    }
}

@media (max-width: 650px) {
    .video-text {
        font-size: 4rem;
    }

    .text-home p {
        font-size: 4.5rem;
        padding: 0 3%;
    }
}

@media (max-width: 600px) {
    .video-text {
        font-size: 3.5rem;
    }
}

@media (max-width: 600px) {
    .video-text {
        font-size: 2.5rem;
        top: 11.5%;
    }
}

@media (max-width: 580px) {
    .text-home p {
        font-size: 4rem;
    }

    .divider-section {
        height: 122.5vh;
        justify-content: space-evenly;
    }

    .services {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .service {
        height: 35vh !important;
    }
}

@media (max-width: 530px) {
    .section.home .contact-form h2 {
        text-align: center;
    }
}

@media (max-width: 510px) {
    .divider-section {
        height: 100%;
    }

    .service {
        height: 37.5vh !important;
    }
}

@media (max-width: 500px) {
    .text-home p {
        font-size: 3.25rem;
    }
}

@media (max-width: 450px) {
    .service {
        height: 42.5vh !important;
    }
}

@media (max-width: 400px) {
    .service img {
        height: 8rem;
    }
}