.carousel.slide {
    position: relative;
}

.main-image {
    height: 85vh;
}

.main-property-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35);
    height: 100vh;
}

.property-details {
    padding: 1.2rem 25%;
    width: 100vw;
}

.property-addrress {
    margin-top: 10%;
    font-size: 4.75rem;
    text-transform: uppercase;
    color: var(--grey-blue);
    padding: 0 2rem 2.5rem;
}

.mini-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.25rem;
    padding: 1rem 2rem;
}

.property-details ul {
    display: flex;
}

.property-details ul li {
    list-style: none;
    margin-right: 1rem;
    text-transform: uppercase;
}

.property-heading-details {
    border-bottom: 1px solid var(--grey-blue);
}

.property-details p {
    font-size: 2.5rem;
    text-align: justify;
    padding: 1rem 2rem;
}

.property-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 2rem 1rem;;
}

.feature-box {
    text-align: left;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.gallery-button {
    color: var(--blue);
    background-image: linear-gradient(
    to right,
    #4379bd,
    #4379bd 50%,
    #294162 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.55s ease-in-out;
}

.gallery-button:hover {
    background-position: 0;
}