.section.locations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.initial-image {
    width: 100vw;
    height: 65vh;
}

.search-form {
    display: flex;
}

.location-name {
    position: absolute;
    z-index: 10;
    color: var(--white);
    display: flex;
    font-size: 12rem;
    font-weight: normal;
    padding: 35vh 9% 0 9%;
}

.initial-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    height: 65vh;
}

.search {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding: 3rem 9%;
}

.filters select, .search input::placeholder, .location-filter select {
    /* border-bottom: 1px solid var(--grey-blue); */
    width: 15vw;
    text-transform: uppercase;
    font-size: 2.25rem;
    color: var(--grey-blue);
    padding-bottom: 0.75rem;
}

.suburb-filter input, .beds-filter, .baths-filter, .car-filter, .feature-dropdown, .location-filter {
    width: 15vw;
    border-bottom: 1px solid var(--grey-blue);
    text-transform: uppercase;
    font-size: 2.25rem;
    color: var(--grey-blue);
    padding-bottom: 0.75rem;
}

.search input::placeholder {
    padding-left: 1rem;
}

.suburb-filter {
    display: flex;
}

.beds-filter select, .location-filter select {
    width: 33vw;
    padding-left: 0.65rem;
}

.baths-filter select, .car-filter select {
    padding-left: 0.65rem;
}

.beds-filter, .location-filter {
    width: 33vw;
    margin-bottom: 2.25rem;
}

.car-bath-filter {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.car-filter {
    width: 15vw; 
    position: relative;
    margin-left: 3vw;
}

.bottom-filtering {
    display: flex;
    justify-content: space-between;
}

.feature-dropdown {
    position: relative;
    display: inline-block;
}

.css-1u9des2-indicatorSeparator {
    width: 0 !important;
}

.css-13cymwt-control {
    background-color: transparent !important;
    border-color: transparent !important;
    border-width: 0 !important;
}

.css-t3ipsp-control {
    color: transparent !important;
    background-color: transparent !important;
    border-color: transparent !important;
    border-width: 0 !important;
    box-shadow: 0 0 0 0px transparent !important;
}

.css-1jqq78o-placeholder, .css-w9q2zk-Input2 {
    color: var(--grey-blue) !important;
}

.properties-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3rem;
    width: 100%;
    padding: 1.2rem 9%;
}

.images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    /* padding-bottom: 5.5rem; */
}

.image-item {
    width: 100%;
    border-radius: 0.25rem;
}

.map-container {
    position: fixed; 
    top: 11.5%;
    /* right: 9%; */
    height: 100%;
    width: 100%;
    border-radius: 0.25rem;
    /* z-index: 99; */
    margin-bottom: 5.2rem;
}

.location-details h4, .location-details p {
    margin: 1rem 0;
    font-size: 2.6rem;
}

.location-details h4 {
    color: var(--grey-beige);
}

.location .images-container .location-details p {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--grey-blue);
}

.location .images-container p {
    font-size: 3rem;
}

.images-container .image-item-container .image-item {
    transition: filter 0.3s ease;
    filter: grayscale(0%) blur(0px);
}

.images-container:hover .image-item-container .image-item {
    filter: grayscale(100%) blur(1px);
}

.images-container .image-item-container:hover .image-item {
    filter: grayscale(0%) blur(0px);
}

@media (max-width: 1130px) {
    .location-name {
        padding: 35vh 3% 0 3%;
    }

    .search {
        padding: 3rem 3%;
    }

    .properties-container {
        padding: 1.2rem 3%;
    }
}

@media (max-width: 950px) {


    .search {
        height: 15vh;
    }
}

@media (max-width: 700px) {
    .properties-container {
        grid-template-columns: 1fr 1fr;
    }
    
    .images-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .location-details h4, .location-details p {
        font-size: 2.25rem;
    }
}

@media (max-width: 600px) {
    .location-name {
        font-size: 10rem;
    }
}

@media (max-width: 600px) {
    .location-name {
        font-size: 9rem;
        padding: 45vh 3% 0 3%;
    }
}

@media (max-width: 550px) {
    .map-container {
        display: none;
    }

    .properties-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
    .location-name {
        font-size: 8rem;
    }

    .search {
        height: 12.5vh;
    }
}

@media (max-width: 450px) {
    .location-name {
        font-size: 7rem;
    }

    .location-details p {
        font-size: 1.75rem !important;
    }
}