.carousel.slide {
    position: relative;
}

.main-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.main-property-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35);
    height: 100vh;
}

.property-details {
    padding: 1.2rem 25%;
    width: 100vw;
}

.property-addrress {
    margin-top: 10%;
    font-size: 4.75rem;
    text-transform: uppercase;
    color: var(--grey-blue);
    padding: 0 2rem 2.5rem;
}

.mini-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.25rem;
    padding: 1rem 2rem;
}

.property-details ul {
    display: flex;
}

.property-details ul li {
    list-style: none;
    margin-right: 1rem;
    text-transform: uppercase;
}

.property-heading-details {
    border-bottom: 1px solid var(--grey-blue);
}

.gallery-button {
    color: var(--blue);
    background-image: linear-gradient(
    to right,
    #4379bd,
    #4379bd 50%,
    #294162 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.55s ease-in-out;
}

.gallery-button:hover {
    background-position: 0;
}

.property-details p {
    font-size: 2.5rem;
    text-align: justify;
    padding: 4rem 2rem 2rem;
}

.property-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 2rem 2rem;;
}

.feature-box {
    text-align: left;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.property-contact-form {
    padding: 4rem 26%;
}

.property-contact-form h2 {
    font-size: 4rem;
    padding-bottom: 2rem;
    color: var(--grey-blue);
    text-transform: uppercase;
}

.property-contact-form form {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
}

.property-name-section, .property-details-section, .property-dropdowns-section {
    display: flex;
    justify-content: space-between;
}

.property-contact-form form input, .property-dropdown-section, .property-message-section textarea {
    margin: 1rem;
}

.property-contact-form input, .property-dropdown-section, .property-message-section textarea {
    border-bottom: 1px solid var(--grey-blue);
    width: 45%;
    font-size: 2.5rem;
    padding: 1rem 1.75rem;
}

.property-message-section textarea {
    width: 97.5%;
}

.property-contact-form input::placeholder, .property-contact-form select.property-dropdown-section, .property-contact-form textarea::placeholder {
    color: var(--grey-beige);
}

.yarl__container.yarl__flex_center path {
    color: var(--white);
}

@media (max-width: 1130px) {
    .property-details {
        padding: 1.2rem 17.5%;
    }

    .map-property {
        margin: 2rem 17.5% !important;
        width: 65% !important;
    }

    .property-contact-form {
        padding: 4rem 17.5%;
    }
}

@media (max-width: 950px) {
    .property-addrress {
        font-size: 4rem;
    }
}

@media (max-width: 850px) {
    .property-features {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 650px) {
    .property-details {
        padding: 1.2rem 10%;
    }

    .map-property {
        margin: 2rem 10% !important;
        width: 80% !important;
    }

    .property-contact-form {
        padding: 4rem 10%;
    }
}

@media (max-width: 600px) {
    .property-name-section, .property-details-section, .property-dropdowns-section {
        flex-direction: column-reverse;
        align-items: center;
    }

    .property-contact-form input, .property-dropdown-section, .property-message-section textarea {
        width: 95%;
    }
}

@media (max-width: 450px) {
    .property-addrress {
        font-size: 3.75rem;
    }
    
    .mini-heading {
        font-size: 2rem;
    }

    .property-features {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 420px) {
    .property-details {
        padding: 1.2rem 5%;
    }

    .map-property {
        margin: 2rem 5% !important;
        width: 80% !important;
    }

    .property-contact-form {
        padding: 4rem 5%;
    }
}

@media (max-width: 360px) {
    .property-addrress {
        font-size: 3.5rem;
    }
    
    .mini-heading {
        font-size: 1.75rem;
    }
}