.section.locations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.initial-image {
    width: 100vw;
    height: 65vh;
}

.search-form {
    display: flex;
}

.location-name {
    position: absolute;
    z-index: 10;
    color: var(--white);
    display: flex;
    font-size: 12rem;
    font-weight: normal;
    padding: 35vh 9% 0 9%;
}

.initial-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    height: 65vh;
}

.search {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding: 3rem 9%;
}

.filters {
    display: flex;
}

.filters select, .search input::placeholder {
    border-bottom: 1px solid var(--grey-blue);
    width: 16vw;
    text-transform: uppercase;
    font-size: 2.25rem;
    color: var(--grey-blue);
    padding-bottom: 0.75rem;
}

.search input {
    width: 16vw;
    border-bottom: 1px solid var(--grey-blue);
    text-transform: uppercase;
    font-size: 2.25rem;
    color: var(--grey-blue);
    padding-bottom: 0.75rem;
}

.filters select {
    margin-left: 4rem;
}

.properties-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3rem;
    width: 100%;
    padding: 1.2rem 9%;
}

.images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    padding-bottom: 4rem;
}

.image-item {
    width: 100%;
    height: 30vh;
    border-radius: 0.25rem;
}

.map-container {
    position: fixed; 
    top: 11.5%;
    right: 9%;
    height: 85vh;
    width: 100%;
    border-radius: 0.25rem;
    z-index: 99;
    margin-bottom: 5.2rem;
}

.location-details h4, .location-details p {
    margin: 1rem 0;
    font-size: 2.6rem;
}

.location-details h4 {
    color: var(--grey-beige);
}

.location .images-container .location-details p {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--grey-blue);
}

.location .images-container p {
    font-size: 3rem;
}

.images-container .image-item-container .image-item {
    transition: filter 0.3s ease;
    filter: grayscale(0%) blur(0px);
}

.images-container:hover .image-item-container .image-item {
    filter: grayscale(100%) blur(1px);
}

.images-container .image-item-container:hover .image-item {
    filter: grayscale(0%) blur(0px);
}