.images-container-portfolio {
    margin-top: 4rem;
}

.images-container.images-container-portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    padding: 1.2rem 9%;
    padding-bottom: 4rem;
    width: 100vw;
}

.portfolio-text {
    padding: 5.5rem 9% 2rem 9%;
}

.portfolio-text h2 {
    font-size: 5.5rem;
    color: var(--grey-blue);
}

@media (max-width: 1130px) {
    .images-container.images-container-portfolio {
        padding: 1.2rem 3%;
    }
}

@media (max-width: 700px) {
    .images-container.images-container-portfolio {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    .images-container.images-container-portfolio {
        grid-template-columns: repeat(1, 1fr);
    }
}