.privacy {
    padding: 15vh 9% 2rem 9%;
}

.privacy h1 {
    font-size: 12rem;
    padding-bottom: 5rem;
    color: var(--grey-blue);
}

ol.privacy-section {
    counter-reset: item;
}

.privacy-section li {
    display: block;
}

.privacy-section li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
}

.heading-privacy {
    font-size: 2.75rem;
    font-weight: bold;
}

.text {
    font-size: 2rem;
    padding-inline-start: 3rem;
    text-align: justify;
}


.privacy h3 {
    font-size: 3.5rem;
}

.privacy p {
    font-size: 2rem;
    text-align: justify;
}

@media (max-width: 1130px) {
    .privacy {
        padding: 15vh 3% 2rem 3%;
    }
}

@media (max-width: 690px) {
    .privacy h1 {
        font-size: 10rem;
    }
}

@media (max-width: 600px) {
    .privacy h1 {
        font-size: 9rem;
    }
}

@media (max-width: 500px) {
    .privacy h1 {
        font-size: 8rem;
    }
}

@media (max-width: 450px) {
    .privacy h1 {
        font-size: 7rem;
    }
}