.services-container {
    padding: 4rem 9%;
}

.services-container h2 {
    font-size: 4rem;
    padding-bottom: 3rem;
    text-transform: uppercase;
    color: var(--grey-blue);
}

.services {
    display: flex;
    padding: 2rem 0;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    height: 40vh;
}

.service h3 {
    font-size: 3rem;
}

.service p {
    font-size: 2.25rem;
    text-align: center;
}

.services-section .parallax-section {
    position: relative;
    height: 40vh;
    background-image: url('../../public/assets/services-middle-image.jpg');
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-bottom: 5rem;
}