.contact-form {
    padding: 1.2rem 9%;
}

.contact-form h2 {
    font-size: 4rem;
    color: var(--grey-blue);
    text-transform: uppercase;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
}

.name-section, .details-section, .dropdowns-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
}

/* .contact-form input, .dropdown-section, .message-section textarea {
    border-bottom: 1px solid var(--grey-blue);
    width: 45%;
    font-size: 2.5rem;
    padding: 1rem 3rem;
} */

.contact-form input, .message-section textarea {
    border-bottom: 1px solid var(--grey-blue);
    width: 45%;
    font-size: 2.5rem;
    padding: 1rem 3rem;
}

.dropdown-section {
    border-bottom: 1px solid var(--grey-blue);
    width: 95%;
    font-size: 2.5rem;
    padding: 1rem 3rem;
}

.message-section {
    display: flex;
    justify-content: center;
}

.contact-form .message-section textarea {
    width: 95%;
}

.contact-form input::placeholder, .contact-form select.dropdown-section, .contact-form textarea::placeholder {
    color: var(--grey-beige);
}