@font-face {
  font-family: "VersaillesRegular";
  src: local("VersaillesRegular"),
  url("public/fonts/Versailles-Regular.ttf") format("opentype");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'VersaillesRegular', sans-serif;
  color: var(--blue);
}

:root {
  --light-blue: #4379bd;
  --blue: #294162;
  --grey-blue: #616e89;
  --grey-beige: #a4a4a4;
  --beige: #d6d0c8;
  --white: #ffffff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

a {
  cursor: pointer;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: rgba(41, 65, 98, 0.9);
}

::selection {
  color: white;
  background: rgba(41, 65, 98, 0.9);
}

@media (max-width: 1300px) {
  html {
      font-size: 55%;
  }
}